{
  "root": true,
  "extends": "airbnb-base",
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "consistent-return": 0,
    "comma-dangle": 0,
    "no-trailing-spaces": 0,
    "curly": ["error", "multi-line"],
    "no-shadow": ["error", { "allow": ["req", "res", "err"] }],
    "linebreak-style": 0
  }
}
