<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Maintenace Tracker</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <nav>
        <div class="mobile-container container">
            <div class="nav-header nav-header-shadow not-mobile-left">
                <a href="../index.html">M-Tracker</a>
                <span class="mobile toggle-menu">
                    <i class="icon ion-android-menu"></i>
                </span>
                <div class="clearfix"></div>
            </div>
            <ul class="right-menu not-mobile not-mobile-right">
                <li class="admin">
                    <div>
                        <a href="#" class="nav-item">Admin
                            <span class="not-mobile">
                                <i class="icon ion-android-arrow-dropdown"></i>
                            </span>
                        </a>
                    </div>
                    <div class="drop-down-menu hide">
                        <a href="#">Profile</a>
                        <a href="./admin-dashboard.html">Dashboard</a>
                        <a href="#">Logout</a>
                    </div>
                </li>
                <li class="request">
                    <div>
                        <a href="#" class="nav-item">Requests
                            <span class="not-mobile">
                                <i class="icon ion-android-arrow-dropdown"></i>
                            </span>
                        </a>
                    </div>
                    <div class="drop-down-menu hide">
                        <a href="./make-request.html">Make Request</a>
                        <a href="./view-requests.html">View Requests</a>
                    </div>
                </li>
                <li class="user">
                    <div>
                        <a href="#" class="nav-item">User
                            <span class="not-mobile">
                                <i class="icon ion-android-arrow-dropdown"></i>
                            </span>
                        </a>
                    </div>
                    <div class="drop-down-menu hide">
                        <a href="./user-profile.html">Profile</a>
                        <a href="#">Logout</a>
                    </div>
                </li>
                <li>
                    <a href="./login.html" class="nav-item">Login</a>
                </li>
                <li>
                    <a href="./register.html" class="nav-item">Sign Up</a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </nav>
    <section id="admin-profile" class="min-height">
        <div class="container">
            <div class="profile">
                <h2>Name: John Wick</h2>
                <h3>Admin-name: black1234</h3>
                <div class="bio">
                    <h3>Bio</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur.</p>
                </div>
                <a href="#" class="btn btn-primary">Edit &nbsp;<i class="icon ion-edit"></i></a> &nbsp; <a href="#" class="btn btn-danger">Delete &nbsp;<i class="icon ion-android-delete"></i></a>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <p>&copy; Maintanence Tracker</p> &nbsp; &nbsp;
            <a href="./about.html" class="blue">About Us</a>
        </div>
    </footer>
    <script src="../js/script.js"></script>
</body>

</html>