<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Maintenace Tracker</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <nav>
        <div class="mobile-container container">
            <div class="nav-header nav-header-shadow not-mobile-left">
                <a href="../index.html">M-Tracker</a>
                <span class="mobile toggle-menu">
                    <i class="icon ion-android-menu"></i>
                </span>
                <div class="clearfix"></div>
            </div>
            <ul class="right-menu not-mobile not-mobile-right">
                <li class="admin">
                    <div>
                        <a href="#" class="nav-item">Admin
                            <span class="not-mobile">
                                <i class="icon ion-android-arrow-dropdown"></i>
                            </span>
                        </a>
                    </div>
                    <div class="drop-down-menu hide">
                        <a href="./admin-profile.html">Profile</a>
                        <a href="./admin-dashboard.html">Dashboard</a>
                        <a href="#">Logout</a>
                    </div>
                </li>
                <li class="request">
                    <div>
                        <a href="#" class="nav-item">Requests
                            <span class="not-mobile">
                                <i class="icon ion-android-arrow-dropdown"></i>
                            </span>
                        </a>
                    </div>
                    <div class="drop-down-menu hide">
                        <a href="./make-request.html">Make Request</a>
                        <a href="./view-requests.html">View Requests</a>
                    </div>
                </li>
                <li class="user">
                    <div>
                        <a href="#" class="nav-item">User
                            <span class="not-mobile">
                                <i class="icon ion-android-arrow-dropdown"></i>
                            </span>
                        </a>
                    </div>
                    <div class="drop-down-menu hide">
                        <a href="./user-profile.html">Profile</a>
                        <a href="#">Logout</a>
                    </div>
                </li>
                <li>
                    <a href="./login.html" class="nav-item">Login</a>
                </li>
                <li>
                    <a href="./register.html" class="nav-item">Sign Up</a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </nav>
    <section id="about" class="min-height">
        <div class="container">
            <div class="about">
                <h1>Our Mission</h1>
                <p class="center">Lorem ipsum dolor sit amet, consectetur doloremque laudantium aliqua.</p>
                <h1>About</h1>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.</p>
            </di>
        </div>
    </section>
    <footer>
        <div class="container">
            <p>&copy; Maintanence Tracker</p> &nbsp; &nbsp;
            <a href="#" class="blue">About Us</a>
        </div>
    </footer>
    <script src="../js/script.js"></script>
</body>

</html>