<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Maintenace Tracker</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body class="gray-body">
    <nav>
        <div class="mobile-container container">
            <div class="nav-header nav-header-shadow not-mobile-left">
                <a href="../index.html">M-Tracker</a>
                <span class="mobile toggle-menu">
                    <i class="icon ion-android-menu"></i>
                </span>
                <div class="clearfix"></div>
            </div>
            <ul class="right-menu not-mobile not-mobile-right">
                <li>
                    <a href="./login.html" class="nav-item">Login</a>
                </li>
                <li class="active">
                    <a href="#" class="nav-item">Sign UP</a>
                </li>
                <li class="admin">
                    <div>
                        <a href="#" class="nav-item">Admin
                            <span class="not-mobile">
                                <i class="icon ion-android-arrow-dropdown"></i>
                            </span>
                        </a>
                    </div>
                    <div class="drop-down-menu hide">
                        <a href="#">Profile</a>
                        <a href="#">Dashboard</a>
                        <a href="#">Logout</a>
                    </div>
                </li>
                <li class="request">
                    <div>
                        <a href="#" class="nav-item">Requests
                            <span class="not-mobile">
                                <i class="icon ion-android-arrow-dropdown"></i>
                            </span>
                        </a>
                    </div>
                    <div class="drop-down-menu hide">
                        <a href="#">Create Request</a>
                        <a href="#">All Requests</a>
                    </div>
                </li>
                <li class="user">
                    <div>
                        <a href="#" class="nav-item">User
                            <span class="not-mobile">
                                <i class="icon ion-android-arrow-dropdown"></i>
                            </span>
                        </a>
                    </div>
                    <div class="drop-down-menu hide">
                        <a href="./user-profile.html">Profile</a>
                        <a href="#">Logout</a>
                    </div>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </nav>
    <section id="register">
        <div class="container">
            <div class="form">
                <div class="form-icon-container">
                    <div class="form-icon blue">
                        <i class="icon ion-edit"></i>
                    </div>
                </div>
                <h1>Create Account</h1>
                <form>
                    <input type="text" name="name" placeholder="Full Name" required>
                    <input type="text" name="email" placeholder="Email" required>
                    <input type="username" name="username" placeholder="Username" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <input type="password" placeholder="Confirm Password" required>
                    <input type="submit" value="Create Account">
                </form>
                <div class="form-footer">
                    <p>Alread a member? &nbsp;
                        <a href="./login.html" class="blue">Login</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <script src="../js/script.js"></script>
</body>

</html>