/* ================== 
    INITIAL SETUP
   ================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #545454;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: normal;
  background: #fff;
}

a {
  color: #1a0dab;
  text-decoration: none;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.not-mobile {
  display: none;
}

.clearfix {
  content: "";
  display: block;
  clear: both;
}

.hide {
  display: none;
}

.gray {
  background-color: rgb(226, 226, 226);
}

.right {
  float: right;
}

section {
  padding: 30px 0;
}

.min-height {
  min-height: 79.3vh;
}

.btn {
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  color: #fff;
  border-radius: 3px;
}

.btn:hover {
  transition: background-color 0.3s ease;
}

.btn-primary {
  background-color: #00bcd4;
}

.btn-primary:hover {
  background-color: #00b4cc;
}

.btn-danger {
  background-color: #b00020;
}

.btn-danger:hover {
  background-color: #99001c;
}

.form-input {
  display: block;
  width: 90%;
  margin: 0 auto;
  padding: 15px 10px;
  border: 1px solid #e7e7e7;
  margin-bottom: 15px;
  border-radius: 3px;
}

.form-input[type="submit"] {
  font-size: 19px;
  cursor: pointer;
}

.form-input:focus {
  outline: none;
  border-color: #00bcd4;
}

@media only screen and (max-width: 47.9375em) {
  .mobile-container.container {
    padding: 0;
  }
  section {
    padding: 15px 0;
  }
  .btn {
    padding: 7px 15px;
  }
}

.blue {
  color: #00bcd4;
}

@media only screen and (min-width: 48em) {
  .not-mobile-right {
    float: right;
  }

  .not-mobile-left {
    float: left;
  }

  .container {
    width: 750px;
  }
  .not-mobile {
    display: inline;
  }
}

@media only screen and (min-width: 62em) {
  .container {
    width: 870px;
  }
}

@media only screen and (min-width: 75em) {
  .container {
    width: 1070px;
  }
}

/* ================== 
        NAVBAR
   ================== */

@media only screen and (max-width: 47.9375em) {
  nav {
    background-color: #fff;
  }

  .nav-header {
    padding: 20px 15px;
    background-color: #00bcd4;
    color: #fff;
    font-size: 24px;
  }

  .nav-header-shadow {
    box-shadow: 0 4px 2px -2px #c0c0c0;
  }

  .nav-header .toggle-menu {
    float: right;
    cursor: pointer;
  }

  .nav-header a {
    color: #fff;
  }

  nav ul {
    list-style: none;
  }
  .right-menu li {
    border-bottom: 1px solid #e7e7e7;
  }
  .right-menu li:last-of-type {
    box-shadow: 0 4px 2px -2px #dad8d8;
  }

  .nav-item {
    display: inline-block;
    width: 100%;
    padding: 15px 15px;
    color: inherit;
  }

  .drop-down-menu {
    margin: 0 15px 10px 15px;
  }

  .drop-down-menu a {
    display: inline-block;
    width: 100%;
    padding: 10px 10px;
    color: inherit;
    font-size: 90%;
  }
}

@media only screen and (min-width: 48em) {
  .mobile {
    display: none;
  }
  nav {
    background-color: #00bcd4;
    box-shadow: 0 4px 2px -2px #c0c0c0;
    color: #fff;
  }

  nav a {
    color: #fff;
  }

  nav ul {
    list-style: none;
  }

  .nav-header {
    padding: 15px 15px 15px 0;
    font-size: 24px;
    display: inline-block;
    width: 20%;
  }

  .nav-header .toggle-menu {
    float: right;
    cursor: pointer;
  }

  .right-menu {
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .right-menu li {
    display: inline-block;
    width: calc(100% / 5);
    text-align: center;
  }

  .right-menu li:hover {
    transition: background-color 0.3s ease;
    background-color: #00b4cc;
  }

  .right-menu li.active {
    background-color: #00b4cc;
  }

  .right-menu li.active .nav-item {
    cursor: default;
  }

  .nav-item {
    display: inline-block;
    padding: 20px 15px;
  }

  .admin,
  .request,
  .user {
    position: relative;
  }

  .admin .drop-down-menu,
  .request .drop-down-menu,
  .user .drop-down-menu {
    position: absolute;
    width: 100%;
    top: 62px;
    left: 0;
    background-color: rgb(247, 247, 247);
    box-shadow: 1px 1px 1px #dad8d8;
  }
  .drop-down-menu a {
    display: block;
    padding: 15px 0;
    color: #545454;
    font-size: 90%;
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
  }

  .drop-down-menu a:hover {
    background-color: rgb(240, 240, 240);
  }
}

@media only screen and (min-width: 62em) {
  .right-menu {
    width: 65%;
  }
}

@media only screen and (min-width: 75em) {
  .right-menu {
    width: 60%;
  }
}

/* ======================= 
        SIGN UP & LOGIN
   ======================= */

.form {
  width: 100%;
  background-color: #fff;
  margin: 0 0 15px 0;
  box-shadow: 3px 3px 3px #c0c0c0;
}

.form h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-icon-container {
  padding-top: 30px;
}
.form .form-icon {
  margin: 0 auto 15px auto;
  border: 1px solid #00bcd4;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 150%;
  display: table;
  background-color: #fff;
}

.form-icon .icon {
  display: table-cell;
  vertical-align: middle;
}


.form-footer {
  background-color: rgb(240, 240, 240);
  padding: 20px 10px;
  text-align: center;
  margin-top: 30px;
}

.forgot-password {
  width: 90%;
  margin: 0 auto;
}

@media only screen and (min-width: 48em) {
  .form {
    width: 60%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 62em) {
  .form {
    width: 50%;
  }
}

@media only screen and (min-width: 75em) {
  .form {
    width: 40%;
  }
}

/* ============= 
      PROFILE
   ============= */

.profile h3 {
  margin: 10px 0;
}

.profile .bio {
  border: 1px solid #dad8d8;
  padding: 5px 15px 15px 15px;
  border-radius: 3px;
  width: 100%;
}

.profile a {
  margin-top: 15px;
}

@media only screen and (min-width: 62em) {
  .profile .bio {
    width: 80%;
  }
}

/* ============= 
      FOOTER
   ============= */

footer {
  padding: 30px 0;
  text-align: center;
  background-color: rgb(226, 226, 226);
}

footer p {
  display: inline-block;
}


/* ================= 
      MAKE REQUEST
   ================= */


.make-request h2 {
  margin-bottom: 5px;
}

.make-request hr {
  height: 1px;
  border: none;
  background-color: #e7e7e7;
  margin: 20px 0;
}

.make-request label {
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
}

.make-request .form-input {
  width: 100%;
}

@media only screen and (min-width: 62em) {
  .make-request {
    width: 80%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 62em) {
  .make-request {
    width: 70%;
  }
}
